@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';
@import '~bootstrap-icons/font/bootstrap-icons';

.VERY_UNLIKELY{
    color: greenyellow
}

.UNLIKELY {
    color: green
}

.POSSIBLE {
    color: orange;
} 
.LIKELY {
    color: orangered;
} 

.VERY_LIKELY{
    color: red;
}

.UNKNOWN {
    color: grey;
} 